<section class="TodoSection">
  <div class="TodoSection__title">
    <p class="TodoSection__title__text"><%= section_title %></p>
    <p class="TodoSection__title__remainingCount"><%= todos.completed.count%>/<%=todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
    <% if not todo.overdue_completed? %>
    <li class="TodoItem">
      <div class="TodoItem__container">
        <%= form_with(url: "/todos/#{todo.id}" ,method: "put") do %>
        <input class="TodoItem__checkbox" type="checkbox" name="completed" onclick="this.form.submit()"
          <%= todo.completed ? "checked" : "" %> />
        <% end %>
        <p class='<%= todo.completed ? "TodoItem__container-completed " : "" %>'><%= todo.todo_text %></p>
        <% if not todo.due_today? %>
        <p class="TodoItem__dueDate"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>
