<section class="TodoSection">
  <div class="TodoSection__title">
    <p class="TodoSection__title__text"><%= section_title %></p>
    <p class="TodoSection__title__remainingCount"><%= todos.completed.count%>/<%=todos.count %></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
    <% if not todo.overdue_completed? %>
    <li class="TodoItem">
      <div class="TodoItem__container">
        <%= form_with(url: "/todos/#{todo.id}" ,method: "put") do %>
        <%= check_box_tag(:completed,:completed,todo.completed,class: "TodoItem__checkbox" ,onclick: "this.form.submit()")%>
        <% end %>
        <p class='<%= todo.completed ? "TodoItem__container-completed " : "" %>'><%= todo.todo_text %></p>
        <% if not todo.due_today? %>
        <p class="TodoItem__dueDate"><%= todo.due_date.to_s(:short) %></p>
        <% end %>
        <%= form_with(url: "/todos/#{todo.id}" ,method: "delete") do %>
        <%= image_submit_tag("/assets/delete.png",alt: "delete") %>
        <% end %>
      </div>
    </li>
    <% end %>
    <% end %>
  </ul>
</section>
