<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Our Todo Management App</title>
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="todo-app.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  </head>
  <body>
    <% if @current_user %>
      <p class="UserHeader">Welcome <%= @current_user.first_name%>!
        <%= link_to "Sign-out",destroy_sessions_path ,method: "delete"%></p>
    <% end %>
    <%= yield %>
  </body>
</html>
